body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(169,169,169);
    position: fixed; /* or position: absolute; */
    left: 20%;
}

/* Style for the container of the game buttons */
.game-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Align items to the left (start) */
}

/* Style for the image buttons */
.game-button {
    width: 200px; /* One-third of the original width (600px / 3) */
    height: 300px; /* One-third of the original height (900px / 3) */
    margin: 5px;
}

.sidebar {
    width: 15%;
    height: 100vh;
    background-color: rgb(112,128,144);
    padding: 20px;
    position: fixed; /* or position: absolute; */
    left: 0; /* Position the sidebar on the left-most side of the screen */
    top: 0; /* Optionally, position it at the top of the screen */
}

/* Define the style for the grayscale game buttons */
.grayscale {
    filter: grayscale(100%);
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Content takes up the full width */
    grid-template-rows: auto; /* Automatically adjust row height based on content */
    gap: 5px; /* Add some spacing between content */
}

.content {
    padding: 15px;
    /* Other content styles */
}

/* Define the style for the full-color game buttons */
.full-color {
    filter: grayscale(0%);
}