body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(169,169,169);
}

/* Style for the container of the game buttons */
.game-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Align items to the left (start) */
}

/* Style for the image buttons */
.game-button {
    width: 200px; /* One-third of the original width (600px / 3) */
    height: 300px; /* One-third of the original height (900px / 3) */
    margin: 5px;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: rgb(112,128,144);
    padding: 20px;
    position: fixed; /* or position: absolute; */
    left: 0;
}