{% extends "baseGameTemplate.html" %}

{% block title %}Counter Strike 2{% endblock %}

{% block title_block %}
    <h1>Counter Strike 2</h1>
{% endblock %}

{% block sidebar %}
    <div class="sidebar-images">
        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/730/library_600x900.jpg?t=1695852468" alt="Counter Strike 2 Poster">
    </div>

    <div class="sidebar-buttons">
        <a href="https://www.counter-strike.net/cs2" target="_blank"><button title="https://www.counter-strike.net/cs2">Official Website</button></a><br>
        <a href="https://store.steampowered.com/app/730/CounterStrike_2/" target="_blank"><button title="https://store.steampowered.com/app/730/CounterStrike_2/">Steam Page</button></a><br>
        <button class="startButton" title="Start Counter Strike 2 Server">Start</button><br>
        <button class="stopButton" title="Stop Counter Strike 2 Server">Stop</button><br>
        <button class="restartButton" title="Restart Counter Strike 2 Server">Restart</button><br>
        <button class="consoleButton" title="Console Counter Strike 2 Server">Console</button><br>
        <button class="updateButton" title="Update Counter Strike 2 Server">Update</button><br>
        <button class="force-updateButton" title="force-update Counter Strike 2 Server">Force-Update</button><br>
        <button class="validateButton" title="Validate Counter Strike 2 Server">Validate</button><br>
        <button class="detailsButton" title="Details Counter Strike 2 Server">Details</button><br>
        <button class="debugButton" title="Debug Counter Strike 2 Server">Debug</button><br>
        <button class="backupButton" title="Backup Counter Strike 2 Server">Backup</button><br>
        <button class="monitorButton" title="Monitor Counter Strike 2 Server">Monitor</button><br>
    </div>
{% endblock %}

{% block body %}
    <p>Body</p>
    <!-- Rest of the page content -->
{% endblock %}

{% block footer %}
    <p>Footer</p>
    <!-- Footer content -->
{% endblock %}
