{% extends "baseGameTemplate.html" %}

{% block title %}Minecraft Java Edition{% endblock %}

{% block title_block %}
    <h1>Title</h1>
{% endblock %}

{% block sidebar %}
    <h3>Sidebar</h3>
    <a href="https://www.minecraft.net/en-us/store/minecraft-java-bedrock-edition-pc" target="_blank"><button>Official Website</button></a><BR>
    <button class="startButton" title="Start Factorio Server">Start</button><br>
    <button class="stopButton" title="Stop Factorio Server">Stop</button><br>
    <button class="restartButton" title="Restart Factorio Server">Restart</button><br>
    <button class="consoleButton" title="Console Factorio Server">Console</button><br>
    <button class="updateButton" title="Update Factorio Server">Update</button><br>
    <button class="force-updateButton" title="force-update Factorio Server">Force-Update</button><br>
    <button class="validateButton" title="Validate Factorio Server">Validate</button><br>
    <button class="detailsButton" title="Details Factorio Server">Details</button><br>
    <button class="debugButton" title="Debug Factorio Server">Debug</button><br>
    <button class="backupButton" title="Backup Factorio Server">Backup</button><br>
    <button class="monitorButton" title="Monitor Factorio Server">Monitor</button><br>
{% endblock %}

{% block body %}
    <p>Body</p>
    <!-- Rest of the page content -->
{% endblock %}

{% block footer %}
    <p>Footer</p>
    <!-- Footer content -->
{% endblock %}
