{% extends "baseGameTemplate.html" %}

{% block title %}Eco{% endblock %}

{% block title_block %}
    <h1>Eco</h1>
{% endblock %}

{% block sidebar %}
    <div class="sidebar-images">
        <img src="{{ url_for('static', filename='images/eco.jpg') }}" alt="Eco Poster">
    </div>

    <div class="sidebar-buttons">
        <a href="https://play.eco/" target="_blank"><button title="https://play.eco/">Official Website</button></a><br>
        <a href="https://store.steampowered.com/app/382310/Eco/" target="_blank"><button title="https://store.steampowered.com/app/382310/Eco/">Steam Page</button></a><br>
        <button class="installButton" title="Start Game Server">Install</button><br>
        <button class="startButton" title="Start Eco Server">Start</button><br>
        <button class="stopButton" title="Stop Eco Server">Stop</button><br>
        <button class="restartButton" title="Restart Eco Server">Restart</button><br>
        <button class="consoleButton" title="Console Eco Server">Console</button><br>
        <button class="updateButton" title="Update Eco Server">Update</button><br>
        <button class="force-updateButton" title="force-update Eco Server">Force-Update</button><br>
        <button class="validateButton" title="Validate Eco Server">Validate</button><br>
        <button class="detailsButton" title="Details Eco Server">Details</button><br>
        <button class="debugButton" title="Debug Eco Server">Debug</button><br>
        <button class="backupButton" title="Backup Eco Server">Backup</button><br>
        <button class="monitorButton" title="Monitor Eco Server">Monitor</button><br>
    </div>
{% endblock %}

{% block body %}
    <p>Body</p>
    <!-- Rest of the page content -->
{% endblock %}

{% block footer %}
    <p>Footer</p>
    <!-- Footer content -->
{% endblock %}
