{% extends "baseGameTemplate.html" %}

{% block title %}Minecraft Java{% endblock %}

{% block title_block %}
    <h1>Minecraft Java</h1>
{% endblock %}

{% block sidebar %}
    <div class="sidebar-images">
        <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Games_Subnav_Minecraft-300x465.jpg" alt="Minecraft Java Poster">
    </div>

    <div class="sidebar-buttons">
        <a href="https://www.minecraft.net/en-us/about-minecraft" target="_blank"><button title="https://www.minecraft.net/en-us/about-minecraft">Official Website</button></a><br>
        <button class="installButton" title="Start Game Server" onclick="installMinecraftJava()">Install</button>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            function installMinecraftJava() {
                        $.post("/install_minecraftjava", function(data) {
                    if (data.success) {
                        alert("Installation successful");
                    } else {
                        alert("Installation failed: " + data.message);
                    }
                });
            }
        </script>


        <button class="startButton" title="Start Minecraft Java Server">Start</button><br>
        <button class="stopButton" title="Stop Minecraft Java Server">Stop</button><br>
        <button class="restartButton" title="Restart Minecraft Java Server">Restart</button><br>
        <button class="consoleButton" title="Console Minecraft Java Server">Console</button><br>
        <button class="updateButton" title="Update Minecraft Java Server">Update</button><br>
        <button class="force-updateButton" title="force-update Minecraft Java Server">Force-Update</button><br>
        <button class="validateButton" title="Validate Minecraft Java Server">Validate</button><br>
        <button class="detailsButton" title="Details Minecraft Java Server">Details</button><br>
        <button class="debugButton" title="Debug Minecraft Java Server">Debug</button><br>
        <button class="backupButton" title="Backup Minecraft Java Server">Backup</button><br>
        <button class="monitorButton" title="Monitor Minecraft Java Server">Monitor</button><br>
    </div>
{% endblock %}

{% block body %}
    <p>Body</p>
    <!-- Rest of the page content -->
{% endblock %}

{% block footer %}
    <p>Footer</p>
    <!-- Footer content -->
{% endblock %}
