<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <h1>WebGSM</h1>
        <p>CPU Usage: <span id="cpu-usage">Loading...</span></p>
        <p>RAM Usage: <span id="ram-usage">Loading...</span></p>
        <p>Disk Usage: <span id="disk-usage">Loading...</span></p>
        <p>Network Usage: <span id="network-usage">Loading...</span></p>
    </div>
    <div class="grid-container">
        <div class="content">
            <a id="cs2-button" href="{{ url_for('cs2') }}">
                <img class="game-button" src="https://cdn.cloudflare.steamstatic.com/steam/apps/730/library_600x900.jpg?t=1695852468" alt="CS2 Poster">
            </a>
        </div>
    </div>
</body>
</html>
