<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <style>
        /* Style for the image buttons */
        .game-button {
            width: 200px; /* One-third of the original width (600px / 3) */
            height: 300px; /* One-third of the original height (900px / 3) */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function updateCPUUsage() {
            $.get('/get_cpu_usage', function(data) {
                $('#cpu-usage').text(data.cpu_usage.toFixed(2) + '%');
            });
        }

        setInterval(updateCPUUsage, 5000); // Update every 5 seconds
    </script>
</head>
<body>
    <h1>CPU Usage: <span id="cpu-usage">Loading...</span></h1>
    <!-- Three resized image buttons with links -->
    <a id="factorio-button" href="{{ url_for('factorio_page') }}"><img class="game-button" src="https://cdn.cloudflare.steamstatic.com/steam/apps/427520/library_600x900.jpg?t=1597145422" alt="Factorio"></a>
    <a id="csgo2-button" href="{{ url_for('cs2_page') }}"><img class="game-button" src="https://cdn.cloudflare.steamstatic.com/steam/apps/730/library_600x900.jpg?t=1695852468" alt="CS:GO2"></a>
</body>
</html>
